@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary-color: #2E438E;
$secondary-color: #FFFFFF;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$footer-color: #1587C580;
$black-color:#000000;
$light-blue:#17A8DF;

$font-size: 15px;

$text-color: white;

$primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: "Bebas Neue", sans-serif;

$fixed_margin: 10px;

$font_weight: 400;

$fixed_gap: 10px;



