@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'HelveticaNowText';
    src: url('webfonts/HelveticaNowText-Regular.woff2') format('woff2'),
        url('webfonts/HelveticaNowText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$primary-color: #2E438E;
$secondary-color: #FFFFFF;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$footer-color: #1587C580;
$black-color:#000000;
$light-blue:#17A8DF;
$gray:gray;
$light-gray:#1010110A;
$light-color:#D1E7EF;
$light_purple:#504388;

$font-size: 15px;

$text-color: white;

$primary-font: 'HelveticaNowText', sans-serif;
$secondary-font: "Bebas Neue", sans-serif;

$fixed_margin: 10px;

$font_weight: 400;

$fixed_gap: 10px;



