// @mixin fontName($theme: DarkGray){
//     background-color: $theme;
//     color: white;
// }

// .info{
//     @include fontName(Gray);
// }

// %message{
//     font-size: 16px;
//     color: #333;
// }

// %heavy{
//     font-weight: bold;
// }

// .value{
//     @extend %message;
//     @extend %heavy;
//     font-size: 20px;
// }

// nav{
//     display: flex;

//     ul{
//         background-color: blue;
//         li{
//             background-color: red;
//         }
//     }
// }

@use 'base';
@use "sass:math";


// .sucess{ 
//     @include navStyle(green);
// }

// //Extend/Inheritance
// %value{
//     background-color: #f0f0f0;
//     padding: 20px;
//     border-radius: 5px; 
// }
// %header{

//     font-size: 24px;
//     font-weight: bold;
// }   
// .value{
//     @extend %value;
//   ;
// }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: base.$primary-font;
    overflow-x: hidden;

    .first-row {
        background-color: base.$primary-color;
        gap: base.$fixed_gap - 4px;
        height: 100vh;
        flex-wrap: nowrap;
        overflow-x: hidden;

    }



}

.top-bar {
    height: 12rem;
    width: 22rem;
}



.height1 {
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    




    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: base.$fixed_margin + 25px;
        z-index: 1000;

    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
        color: base.$primary-color;
        size: base.$font_size + 1px;
        font-weight: base.$font_weight;

    }
}




.text {
    z-index: 1000;

    img {
        position: relative;
        top: -29%;

    }

    h1 {

        font-size: base.$font_size + 45px;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 0.5px white;

    }
}




.card {
    background-color: base.$secondary-color;
    border: 1px solid base.$primary_color;
    width: base.$fixed_margin + 270px;
    height: base.$fixed_margin + 151px;
    padding: base.$fixed_margin+10px;
    gap: base.$fixed_gap;
    color: base.$primary-color;
    border-radius: 0;

    span {
        font-size: base.$font_size + 10px;
    }

}

.card-wrap {
    gap: base.$fixed_gap + 10px;

}

.card-value {
    width: fit-content;
    gap: base.$fixed_gap + 10px;
}

.long-card {
    width: base.$font-size + 190px;
    height: base.$font-size + 321px;
    border: 1px solid base.$primary_color;
    padding: base.$fixed_margin;
    line-height: 100%;
    color: base.$primary_color;
    gap: base.$fixed_gap + 10px;
}

.simple {
    h2,span {
        font-weight: base.$font_weight + 300;
        font-size: base.$font_size + 33px;
        line-height: 100%;
        color: base.$primary_color;
    }
    
}

.col-7 {
    gap: base.$fixed_gap ;
}



.img-wrap::before {
    content: url('Vector.png');
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.top {
    gap: base.$fixed_gap + 10px;
    color: base.$primary_color;

    p {
        font-size: base.$font_size + 9px;
        font-weight: base.$font_weight - 100;

    }

    .undergrad {
        border-bottom: 2px solid base.$primary_color;
    }
}

.program {


    .btn {
        color: base.$primary-color;
        border: 1px solid base.$primary-color;
        border-radius: 0;
        margin-top: base.$fixed_margin;
    }
}

.arrow3 {
    right: -17%;
    top: -96%;

    img {
        height: 55vh;
    }
}

.simple-form1 {
    z-index: 1000;
    top: 25%;
    left: 9%;

    h2 {
        font-weight: base.$font_weight + 300;
        font-size: base.$font_size + 33px;
        line-height: 100%;
        color: base.$primary_color;
    }

    .button1 {
        border-color: base.$secondary-color;

    }
}

.button1 {
    color: base.$primary-color;
    padding: base.$fixed_margin - 3px;
    background-color: transparent;
    border: 1px solid base.$primary-color;

}


.partner {
    color: base.$primary_color;
    border: 1px solid base.$primary_color;
}

.image-wrapper {
    position: absolute;
}

.image-wrapper img {
    position: relative;
    top: 0;
    left: 0;
}

.text_image {
    position: absolute;
    left: 35%;
    top: 10%;


    h1 {
        color: base.$primary-color;
        font-weight: base.$font-weight + 200;
        font-size: base.$font-size + 33;
    }
    .button1{
        border-color: base.$primary-color;
    }
}

.slide {
    background-color: base.$primary-color;
    height: 720px;
    position: relative;

}

.image-slide {
    position: absolute;
    top: 0;
    right: 0;
}

.image-text {
    color: base.$secondary-color;
}

.image-top {
    img {
        height: 100vh;
    }
}

.testimonial-card {
    background-color: #f8f9fa;
    border-left: 5px solid #0d6efd;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.testimonial-img {
    width: 100px;
    height: 150px;
    object-fit: cover;

    border: 3px solid #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
}

.button {
    color: base.$primary-color;
    border: 1px solid base.$primary-color;
}

.border1 {

    border: 1px solid base.$primary-color;
    border-bottom: 8px solid base.$primary-color;
}

.navtab .nav-link {
    border-radius: 0;
    background: transparent;
    color: gray;
    border: none;
}


.navtab .nav-link.active {
    color: base.$primary-color;
    background: transparent;
    border-bottom: 2px solid base.$primary-color;

}

.nav-pills .nav-link:hover {
    color: base.$primary-color;
}

.border1 {
    border-bottom: 8px solid var(--border-color);
    transition: background-color 0.3s ease-in;

    a {
        text-decoration: none;
        color: black;
    }


    &:hover {
        background-color: var(--border-color, black);

        a {
            color: base.$secondary-color;
        }
    }
}

.gradient-color {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(white, transparent);
    width: 100%;
    height: 59vh;
}



.arrow {
    top: 0;
    left: -21%;
    transform: rotate(-180deg);

    img {
        height: 100vh;

    }

    ;
}


.slide {
    background-color: base.$primary-color;
}

.image-slide {
    right: 0;
}

.first-bar {
    background-color: base.$light-blue;

    p {
        font-size: base.$font_size + 33px;
        color: base.$secondary-color;
    }
}

.button-line {
    .button1 {
        color: base.$secondary-color;
        border: 1px solid base.$secondary-color;

        &:hover {
            background-color: darken(base.$primary-color, 10%);
            color: white;
        }
    }
}

footer {
    background-color: base.$primary-color;
    padding: 50px 0px;
    color: base.$secondary-color;
}

.quick-links {
    .nav-link {
        gap: 10px;

        a {
            text-decoration: none;
            color: white;

        }
    }
}

.socialmedia {
    gap: base.$fixed_gap + 10px;

    padding: base.$fixed_margin;

}

.card-details {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-date {
    position: absolute;
    top: 0px;
    right: 0px;
    background: base.$secondary-color;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.apply {
    background-color: base.$primary-color;
}

.card-date span {
    display: block;
    font-size: 0.8rem;
    color: gray;
}

.card-img-top {
    position: relative;
}

.news-badge {
    background-color: #6f42c1;
    border-radius: 50px;
    padding: 5px 15px;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.button-line1 {
    right: 30%;
}

.arrow-line {

    transform: rotate(-180deg);

}

.arrow-line1 {

    top: 0;
    right: 0;

}

.text1 {
    z-index: 1000;
}

.arrow1 {
    height: 189vh;
    left: -53%;
    top: -45%;


}

.svg {
    fill: base.$light-blue;
}

.arrow2 {
    top: -4%;
    left: -35%;

    img {
        transform: rotate(-180deg);
        height: 100vh;
    }
}

.event {
    background-color: base.$primary-color;
    padding: 80px 0px;
}


.testimonial-card1 {


    width: 392px;
    max-height: 212px;
}

.testimonial-inner {
    background: base.$secondary-color;
    padding: base.$fixed_margin + 10px;
    gap: 15px;
}

.testimonial-inner img {
    width: 100px;
    height: 100px;

    object-fit: cover;
}

.quote-mark {
    font-size: base.$font-size +80px;
    text-align: justify;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: 18px;
    color: var(--font-color);
    opacity: 25%;
}

.student-name {
    font-weight: bold;

}

.student-role {
    color: var(--font-color);
}

.bottom-footer {
    background-color: base.$secondary-color;
    height: 15vh;
}

.description {
    p {
        font-weight: base.$font-weight - 100;
    }
}

.newsletter {
    padding: base.$fixed_margin +20px;
    background-color: base.$footer-color;

    .button1 {
        background-color: base.$light-blue;
        color: base.$secondary-color;
        border: none;

    }
}

.icons-value {
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    height: 31.45px;
    width: 31.45px;
}

.full-description {
    margin-top: base.$fixed_margin + 15px;
}

.bottom-footer {
    .college-logo {
        img {
            height: 50px;

        }
    }
}

.order-list {
    list-style-type: none;
}

.contact-number {
    .call {
        background-color: #f8f9fa;
        top: -12px;
        right: 74%;
    }

    p {
        border: 5px solid base.$light-blue;
        border-radius: 30px;
        padding: 10px;
    }

    .fa-phone {
        background-color: base.$light-blue;
        border-radius: 50%;
        width: fit-content;
    }
}

.advisory-card {
    background: base.$light-gray;
    width: 252px;
    height: 334px;

    img {
        height: 232px;
        width: 204px;
    }
}

.navtab1 {
    ul {
        li {
            border: 1px solid base.$gray;
        }

        .nav-link {
            color: base.$gray;
        }
    }

    #pills-tab .active {
        border-radius: 0;
        background-color: base.$light-blue;
        color: base.$secondary-color;

    }
}

.image-height {
    height: 292px;
    width: 100%;
    object-fit: cover;
}

.image {
    p {
        position: absolute;
        top: 85%;
        left: 25%;
        color: white;
    }
}

.partner-height {
    height: 35px;

}


.image-logo {
    height: 100px;
}
.contact{
    background-color: base.$light-color;
    min-height:524px;
    
}
input,select {
     border:none;
     border-bottom: 1px solid rgb(186, 186, 186);
}
input:focus {
    outline:none;
    border-bottom: 1px solid rgb(255, 137, 204);
}
#cars:focus{
    outline: none;
}

.height2{
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
   
}
.height2 section{
      font-weight: base.$font-weight +100;
    font-size: base.$font-size +6px;
    color: base.$primary-color;
}
.height2::-webkit-scrollbar {
    width: 3px; 
  
    background-color: base.$primary-color; }




.height2::-webkit-scrollbar-track {
    background-color: #cdcdcd;
    border-radius: 2px;
}


.height2::-webkit-scrollbar-thumb {
    background-color:base.$primary-color;

}



.pagination1{

   a{
    border: none;
    color: gray;
   
   }
   .active{
    border-radius: 50%;
    background-color: #2E438E99;
   }

}
.back{
    background-color: base.$primary-color;
   
}
 .item img{
width: 255px;
}

.para{
    font-size: base.$font-size + 1px;
    font-weight: base.$font-weight;
    color: base.$secondary-color;
}
.img-slider
{
     .owl-dots{
        display: none;
    } .owl-stage{
    display: flex;
    align-items: center;
   
}
}

.full-image .col {
    min-height: 100px;
    display: flex;
    align-items: center;
}

.full-image .col:last-child {
   border-right: none !important;

}

.full-image .col:nth-child(n){
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    
}


.image1{
  top: -200px;
    right: 232px;
}